html {
  background: #2e2e2e url("wainuiomata.webp") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.08rem;
}

h1 {
  margin: 0 0 15px 0;
  font-size: 1.8rem;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 4px;
  font-weight: bold;
}

input[type="password"], input[type="text"] {
  width: calc(100% - 110px);
  margin: 0.15rem 0;
  font-size: 1.08rem;
}

input[type="submit"] {
  text-align: center;
  font-size: 1.08rem;
  padding: 0.2rem 0.8rem;
}

form div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.9rem;
}
