<!DOCTYPE html>

<html lang="{{ request.locale_name }}">

<head>
  <title>Sambal Login</title>
  <meta charset="utf-8">
  <meta name="description" content="Sambal admin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/login.css">
</head>

<body>
  <h1>Domain Login</h1>
  <form action="{{ request.route_path('login') }}" method="POST">
    {% with errors = request.session.pop_flash(queue="error") %}
      {% if errors %}
        <ul>
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
      {{ form.username.label }}
      {{ form.username(autocomplete="username", placeholder="Account name") }}
    </div>
    <div>
      {{ form.password.label }}
      {{ form.password(autocomplete="current-password", placeholder="Password") }}
    </div>
    <div>
      {{ form.host.label }}
      {{ form.host(placeholder="Host or URL") }}
    </div>
    <div>
      {{ form.realm.label }}
      {{ form.realm(placeholder="Realm") }}
    </div>
    <div>
      <input type="hidden" name="return_url" value="{{ return_url }}">
      <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
      {{ form.login }}
    </div>
  </form>
</body>

</html>
